{% load static %}
<html>
	<head>
		<title>Shopping List</title>
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400"
rel="stylesheet">
		<link href="{% static 'css/base.css' %}" rel="stylesheet">
	</head>

	<body>
		<div>
			<header>
				<div class="nav-left">
					<h1><a href="{% url 'home' %}">Shopping List</a></h1>
				</div>
				<div class="nav-right">
					<h4><a href="{% url 'post_new' %}">+ Add New List </a></h4>
				</div>
			</header>
			{% block content %}
			{% endblock content %}
		</div>
	</body>
</html>
